
@{
    ViewData["Title"] = "Saldo";
}

<div class="saldo">
    <div class="labelSaldoNome">John Doe</div>
    <div class="labelSaldoValor">R$ 640,28</div>
    <a class="btnSair" href="https://sb-autenticacao-api.original.com.br/OriginalConnect?scopes=account&callback_url=http://localhost:17973/home/callback?callback_id=1&developer_key=28f955c90b3a2940134ff1a970050f569a87facf"></a>
</div>

